<section>

  <div>
    <img class="mobile-img" src="./assets/img/whyMemobile.svg" alt="" />
    <img class="desktop-img" src="./assets/img/whyMe.svg" alt="" />
    <p class="mobile-txt">
      I am motivated to continuously learn new technologies and develop myself.
      My ability to solve complex problems and my passion for programming make
      me a valuable member of your team.
    </p>
  </div>
  <div class="section-wrapper">
  <div class="desktop-txt">
    <p>
      I am motivated to continuously learn new technologies and develop myself.
      My ability to solve complex problems and my passion for programming make
      me a valuable member of your team.
    </p>
  </div>
  <div class="i-am-section">
    <h1>I am :</h1>
    <div class="image-wrapper">
    <div class="image-container">
      <img
        src="./assets/img/relocate1=Default.png"
        alt="picture 1"
        class="hover-image normal"
      />
      <img
        src="./assets/img/relocate1=hover.png"
        alt="picture 2"
        class="hover-image hover"
      />
      <div class="placetaker-second"></div>
      <div class="txt-with-icon">
        <p>open to relocate</p>
      </div>
    </div>
    <div class="image-container">
      <img
        src="./assets/img/Icon_Remote.png"
        alt="picture 1"
        class="hover-image normal"
      />
      <img
        src="./assets/img/icon_remoteHover.png"
        alt="picture 2"
        class="hover-image hover"
      />
      <div class="placetaker-second"></div>
      <div class="txt-with-icon">
        <p>open to work remote</p>
      </div>
    </div>

    <div class="image-container top-center">
      <img
        src="./assets/img/Location.png"
        alt="picture 1"
        class="hover-image normal"
      />

      <img
        src="./assets/img/location=hover.png"
        alt="picture 2"
        class="hover-image hover "
      />
      <div class="placetaker"></div>
      <div class="txt-with-icon">
        <p>located in Duesseldorf</p>
      </div>
    </div>
  </div>
  <div class="contact-me-btn"><button>Contact me</button></div>
  
  </div>
</div>
<div class="arrow">
<a  href="#skills" *ngIf="isDesktop">
  <img src="./assets/img/arrow-right.png" alt="">
  </a>
</div>
</section>
