<section>
  <div>
    <img class="mobile-img" src="./assets/img/whyMemobile.svg" alt="" />
    <img class="desktop-img" [src]="translationImgService.deImg[0]" alt="" />
    <p class="mobile-txt">
      {{ "ME.WhyMeTxt" | translate }}
    </p>
  </div>
  <div class="section-wrapper">
    <div class="desktop-txt">
      <p>
        {{ "ME.WhyMeTxt" | translate }}
      </p>
    </div>
    <div class="i-am-section">
      <h1>{{"ME.headline" | translate}}</h1>
      <div class="image-wrapper">
        <div class="image-container">
          <img
            src="./assets/img/relocate1=Default.png"
            alt="picture 1"
            class="hover-image normal"
          />
          <img
            src="./assets/img/relocate1=hover.png"
            alt="picture 2"
            class="hover-image hover"
          />
          <div class="placetaker-second"></div>
          <div class="txt-with-icon">
            <p>{{"ME.relocate" | translate}}</p>
          </div>
        </div>
        <div class="image-container">
          <img
            src="./assets/img/Icon_Remote.png"
            alt="picture 1"
            class="hover-image normal"
          />
          <img
            src="./assets/img/icon_remoteHover.png"
            alt="picture 2"
            class="hover-image hover"
          />
          <div class="placetaker-second"></div>
          <div class="txt-with-icon">
            <p>{{"ME.remote" | translate}}</p>
          </div>
        </div>

        <div class="image-container top-center">
          <img
            src="./assets/img/Location.png"
            alt="picture 1"
            class="hover-image normal"
          />

          <img
            src="./assets/img/location=hover.png"
            alt="picture 2"
            class="hover-image hover"
          />
          <div class="placetaker"></div>
          <div class="txt-with-icon">
            <p>{{"ME.location" | translate}}</p>
          </div>
        </div>
      </div>
      <div class="contact-me-btn">
        <a href="mailto:phillip@phillip-marcel-sauer.com"
          ><button>{{"ME.button" |translate}}</button></a
        >
      </div>
    </div>
  </div>
</section>
