<section>
  <div class="shadowbox"></div>
  <div class="front">
    
    <div  class="wrapper">
    <div class="person-pic">
      <div *ngIf="isDesktop" class="links">
        <img src="./assets/icons/mail-link.png" alt="" /><img src="./assets/icons/linkIn.png" alt="" /><img src="./assets/icons/git-link.png"alt="" />
        <div class="lang-select">
        <span (click)="switchLanguage('de')">DE</span>
        <div  class="seperator"></div>
        <span (click)="switchLanguage('en')">EN</span>
      </div>
      </div>
      <div *ngIf="isDesktop" class="name-wrapper">
      <div class="name-content-wrapper"><div class="animation-wrapper"><span class="name">{{'WELCOME' | translate}} </span></div> <div class="animation-wrapper-2nd-name"><span class="name ">Sauer</span></div></div>
      <div class="animation-wrapper-frontend"><img src="./assets/img/Frontend-Developer.svg" alt=""></div>
    </div>
    </div>
    <div class="arrow responsiv-arrow" *ngIf="isDesktop">
    <a href="#me" >
      <img src="./assets/img/arrow-right.png" alt="" />
    </a>
  </div>
  </div>
    
    <div *ngIf="!isDesktop" class="name-profession-txt">
      <h2>FRONTEND DEVELOPER</h2>
      <h1>Phillip Sauer</h1>
      <h3>Duessldorf</h3>
    </div>
  </div>
</section>
