
<header><img src="./assets/img/MyWork.svg" alt="" /></header>

@for(item of myWork; track item; let i = $index) {
<section [ngClass]="getClass(i)"
  [ngStyle]="
    isListOpen[i] ? { 'margin-bottom': '0' } : { 'margin-bottom': '40px' }
  "
>
  <div
    [ngStyle]="{
      'max-height': isListOpen[i] ? '861px' : '275px',
      overflow: 'hidden',
      transition: 'max-height 355ms ease-in-out'
    }"
    class="my-work-field"
  >
    <div class="header">
      <img [src]="item.number" alt="" />
      <h3>{{ item.project }}</h3>
    </div>

    <div class="work-list">
      <div class="bullet">
        <img src="./assets/img/bulletpoint25.png" alt="" />
        <div class="info-txt">
          <h3>About the Project</h3>
          <span>{{ item.about }} </span>

          <div
            [ngStyle]="
              isListOpen[i] ? { display: 'none' } : { display: 'flex' }
            "
            (click)="toggleList(i)"
            class="show-me"
          >
            <span>Show me more</span>
            <img src="./assets/img/Polygon_down.png" alt="" />
          </div>
        </div>
      </div>

      <div class="bullet">
        <img src="./assets/img/bulletpoint25.png" alt="" />
        <div class="info-txt">
          <h3>Technologies I have used</h3>
          <span>{{ item.tec }} </span>
        </div>
      </div>
      <div class="bullet">
        <img src="./assets/img/bulletpoint25.png" alt="" />
        <div class="info-txt">
          <h3>What I have learned</h3>
          <span>{{ item.learned }} </span>
        </div>
      </div>
      <div class="picture-btn-line">
        <img [src]="item.path" alt="" />
        <div>
          <a target="_blank" [href]="item.git"> <button class="git-btn">GitHub</button></a>
         <a target="_blank" [href]="item.liveTest"> <button class="live-test-btn">Live Test</button></a>
        </div>
      </div>
    </div>
  </div>
</section>

<div
  [ngStyle]="isListOpen[i] ? { display: 'flex' } : { display: 'none' }"
  (click)="toggleList(i)"
  class="show-me-less"
>
  <span>Show me less</span> <img src="./assets/img/polygon_2.png" alt="" />
</div>
}
<div class="on-going">
  <div class="on-going-header"><img src="./assets/img/3.png" alt=""> <h3>On going project</h3></div>
  
 <span>I am currently working on developing an online shop for pet foods.
  This is for me  both exciting and challenging. In my work the key to success lies in a good planning and execution.</span>
</div>

