@import '../../../styles.scss';
@import '../../../media-query.scss';

section {
    padding: 0 24px 0 24px;
    display: flex;
    flex-direction: column;
   @include desktopMode {
    padding-left: 190px;
   }
}
a {
    color: $highlightFontColor;
  }