<section>
  <div class="pad-info-box">
    <header>
      <img src="./assets/img/contactme.svg" alt="" />
      <h4>Let us work together.</h4>
    </header>
    <span
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nam
      quae, provident tempore culpa et quidem laudantium vel autem placeat est
      illum aliquid at cupiditate dicta, libero perferendis. Mollitia,
      sint?</span
    >
  </div>
  <div class="contact-info">
    <div><img src="./assets/icons/mail.png" alt=""> <span> E-mail:Phillip&#64;gmail.com</span></div>
    <div><img src="./assets/icons/phone.png" alt=""><span>Tel:01734914671</span></div>
  </div>
  <form>
    <label for="name"></label>
    <input type="text" id="name" placeholder="Your name" name="name">
    <label for="email"></label>
    <input type="email" id="email" placeholder="Your Email" name="email">
    <textarea name="message" id="message" placeholder="Your message"></textarea>
    <div class="policy">
        <img src="./assets/icons/checkbox_default.png" alt="">
        <span>I've read the privacy policy and agree to the processing of my data as outlined.</span>
    </div>
    <div class="btn-container"> 
        <input class="submit-btn" type="submit" name="" value="submit">
    </div>
   
  </form>
</section>
