@import "../../styles.scss";

div {
  padding: 0 26px;
  font-size: 16px;
}



.i-am-section {
  h1 {
    font-size: 32px;
    font-weight: 700;
    color: $highlightFontColor;
    margin: 0;
  }
  @include flexBoxStandarts(flex, center, center);
  flex-direction: column;
  gap: 16px;
}

.relocate-img {
  transition: transform 200ms ease-out, opacity 200ms ease-out;
}
.image-container {
  position: relative;
  @include size(95px, 128px);
  height: auto;
}

.hover-image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 75ms ease-out;
}

.hover-image.hover {
  opacity: 0;
}

.image-container:hover .hover {
  opacity: 1;
}

.image-container:hover + .txt-with-icon {
  color: $highlightFontColor !important;
}

.image-container:hover .normal {
  opacity: 0;
}

.placetaker {
  @include size(95px, 128px);
}

button {
  @include size(43px, 135px);
  border-style: unset;
  background-color: $navigationBgColor;
  border-radius: 30px;
  color: #4a4a4a;
  margin-bottom: 80px;
}

.txt-with-icon {
  margin-top: 20px;
  &hover {
    color: $highlightFontColor;
  }
}
