<section>
  <div>
    <h2>Why me</h2>
    <p>
      I am motivated to continuously learn new technologies and develop myself.
      My ability to solve complex problems and my passion for programming make
      me a valuable member of your team.
    </p>
  </div>
  <div class="i-am-section">
    <h1>I am :</h1>
    <div class="image-container">
      <img
        src="./assets/img/relocate1=Default.png"
        alt="Bild 1"
        class="hover-image normal"
      />
      <img
        src="./assets/img/relocate1=hover.png"
        alt="Bild 2"
        class="hover-image hover"
      />
    </div>
    <div class="placetaker"></div>

    <div class="image-container">
      <img
        src="./assets/img/Property 1=Default.png"
        alt="Bild 1"
        class="hover-image normal"
      />
      <img
        src="../../assets/img/remote1=Hover.png"
        alt="Bild 2"
        class="hover-image hover"
      />
    </div>
    <div class="placetaker"></div>
    <div class="image-container">
      <img
        src="./assets/img/Location.png"
        alt="Bild 1"
        class="hover-image normal"
      />
      <!-- <img
        src="./assets/img/location=hover.png"
        alt="Bild 2"
        class="hover-image hover"
      /> -->
    </div>
    <div class="placetaker"></div>
    <button>Contact me</button>
  </div>
</section>
