<header [ngClass]="{'show-header': showHeader}" >
  <nav>
    <div>
     <a href="#main"> <img class="ps-logo" src="./assets/icons/personal-logo.png" alt="" /></a>
    </div>
    <div *ngIf="isDesktop" class="navigation-line">
      <a href="#me" (click)="activeNav(0)">
        <img [src]="translationImgService.currentImg[0]" alt="">
      </a>
      
      <a href="#skills" (click)="activeNav(1)">
        <img [src]="translationImgService.currentImg[1]" alt="">
      </a>
      
      <a href="#myWork" (click)="activeNav(2)">
        <img [src]="translationImgService.currentImg[2]" alt="">
      </a>
      
      <a href="#contact" (click)="activeNav(3)">
        <img [src]="translationImgService.currentImg[3]" alt="">
      </a>
    </div>
  </nav>
  
</header>

<div
  id="nav-icon1"
  [ngClass]="{ open: this.BurgerMenuService.isAnimation}"
  (click)="this.BurgerMenuService.toggleMenu()"
>
  <span></span>
  <span></span>
  <span></span>
</div>
<app-burger-menu *ngIf="!isDesktop" [ngClass]="{ 'd-none': this.BurgerMenuService.menuClosedAtStart}"></app-burger-menu>

