@import "../../../styles.scss";
@import "../../../media-query.scss";
section {
  padding: 80px 26px;
  p {
    margin: 24px 0;
  }
}

.icon-line {
  @include flexBoxStandarts(flex, center, unset);
  gap: 32px 85px;
  flex-wrap: wrap;
  padding: 40px 29px;
  margin-bottom: 22px;
  @include mobile600px{
    padding: 40px 70px;
  }
  @include mobile800px {
    padding: 40px 49px;
  }
 
  div:hover {
    transform: scale(1.2) rotateZ(20deg);
    transition: ease-in-out 125ms;
    
    img:hover {
      filter: drop-shadow(0 0 15px #b5e93b);
      transition: filter 455ms ease-out;
    }
  }
  div {
    @include size(51px, 46px);
    
    p {
      display: none;
      margin: 0;
    }
    &:last-child p {
      display: block;
      color: #FFFDFD;
      width: 120px;
      margin-left: -50%;
    }
  }
  @include mobile500px {
    gap: 32px calc(50px + (85 - 53) * ((100vw - 320px) / (382 - 320))) 
  }
 
}

span {
 display: flex;
  padding: 0 24px;
  margin-bottom: 40px;
}
button {
    background-color: #b5e93b;
    color: #4A4A4A;
    border-radius: 30px;
    @include size(43px,122px);
    margin-bottom: 75px;
    &:hover {
      background: linear-gradient(160.33deg, #B5E93B 50.78%, #547800 133.54%);

    }
}

.btn-container {
    @include flexBoxStandarts(flex,center,center);
  
}
