@import '../../media-query.scss';

.bg-g {
    cursor: default;
    @include desktopMode {
        display: flex;
        height: 100vh;
        overflow-y: hidden;
        overflow-x: auto;
        align-items: center;
    }
}

.blocker {
    display: none;
    position: absolute;
    top: 0;
    left: 20%;
    height: 100vh;
    width: 100vw;
}

