@import "../../media-query.scss";

.bg-g {
<<<<<<< Updated upstream
    cursor: default;
    @include desktopMode {
        display: flex;
        
        overflow-x: auto;
    }
}

=======
  cursor: default;
  @include desktopMode {
    display: flex;
    align-items: center;
    overflow-x: scroll  ;
    max-height: 1000px;
  }
}
>>>>>>> Stashed changes
