<section  >
  <div class="arrow"> <a href="#myWork"><img src="./assets/img/arrow-right.png" alt=""></a></div>
  <div class="main-headline"><img [src]="translationImgService.deImg[2]" alt="" /></div>
  @for(item of myWork; track item; let i = $index) {
  <div [ngClass]="getClass(i)" class="work-container ">
    <div class="headline">
      <img [src]="item.numberDesktop" alt="" />
      <h1>{{ item.project }}</h1>
    </div>
    <div class="main-container">
      <div class="main-content">
        <div class="txt-box">
          <div class="sub-headline">
            <img
              src="./assets/img/bulletpoint25.png
        "
              alt=""
            />
            <h3>About the Project</h3>
          </div>
          <span>{{ item.about }}</span>
          <div class="sub-headline">
            <img
              src="./assets/img/bulletpoint25.png
        "
              alt=""
            />
            <h3>Technologies i have used</h3>
          </div>
          <span class="word-space">{{ item.tec }}</span>
        </div>
        <div class="btn-img-container">
          <img [src]="item.path" alt="" />
          <div class="btn-wrapper">
            <a target="_blank" [href]="item.git">
            <button class="git-btn">GitHub</button></a>
            <a target="_blank" [href]="item.liveTest"><button class="live-test-btn">Live Test</button></a>
          </div>
        </div>
      </div>
      <div>
        <div class="sub-headline">
          <img
            src="./assets/img/bulletpoint25.png
      "
            alt=""
          />
          <h3>What i have learned</h3>
        </div>
        <span class="width">{{ item.learned }}</span>
      </div>
    </div>
    <div></div>
  </div>
  }
  <div class="height-100">
    <div class="on-going-container">
      <div class="on-going">
      <img src="./assets/img/3-desktop.png" alt="">
      <h3>Ongoing Projects</h3>
    </div>
      <span>I am currently working on developing an online shop for pet foods.
        This is for me  both exciting and challenging. In my work the key to success lies in a good planning and execution.</span>
        <div class="btn-container">
        <button class="live-test-btn">Let´s Talk</button>
      </div>
    </div>
  </div>
  <div class="arrow">
  
</div>
</section>
