@import "./app/fonts.scss";

*{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Quantico";
  color: #fffdfd;
}

// Variables

$navigationBgColor: #b5e93b;
$highlightFontColor: #b5e93b;

//mixIn

@mixin colorGradient($deg, $c1, $c2) {
  background: linear-gradient($deg, $c1, $c2); // Note the semicolon here
}

@mixin size($height, $width) {
  height: $height;
  width: $width;
}

@mixin flexBoxStandarts($df: flex, $ai, $jc) {
  display: $df;
  align-items: $ai;
  justify-content: $jc;
}

button {
  border-style: unset;
  font-family: "Quantico";
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
