<section>
  <div class="wrapper">
    <div class="pad-info-box">
      <header>
        <h4>Let us work together.</h4>
      </header>
      <span
        >Whether your project involves developing a new application, upgrading
        existing systems, or implementing robust cybersecurity measures, I have
        the technical acumen and problem-solving skills to ensure successful
        outcomes.</span
      >
    </div>
    <div class="contact-info">
      <div class="hover-effect-mail">
        <img src="./assets/icons/mail.png" alt="" />
        <a href="mailto:example@example.com">E-mail:Phillip&#64;gmail.com</a>
      </div>
      <div class="hover-effect-mail">
        <img src="./assets/icons/phone.png" alt="" /><a href="tel:"
          >Tel:01734914671</a
        >
      </div>
    </div>
    <div class="copyright-container">
        <div class="arrow">
          <a href="#main">
            <img src="./assets/img/arrow-right.png" alt="" />
          </a>
        </div>
          <div class="copyright">
            <a href="imprint">Legal notice </a>
            <a>Privacy policy </a> 
            <span>&copy; Phillip-Marcel Sauer 2024 </span>
        </div>
        
      </div>
  </div>
  
  <footer></footer>
</section>
