@import '../../styles.scss';

.arrow-container {
    @include flexBoxStandarts(flex,center,center);
    margin-top: 54px;
    position: relative;
  margin-bottom: 60px;
  cursor: pointer;
   
}

.hover-image {
    position: absolute;
    bottom: 0;
  transition: opacity 75ms ease-out;
  
}

.arrow-container:hover .normal {
  opacity: 0;
}

.placetaker {
   height: 45px;
}

.arrow-container:hover .hover {
  opacity: 1;
}

.hover-image.hover {
  opacity: 0;
}

.link-line {
  @include flexBoxStandarts(flex,center ,center);
  gap: 24px;
  padding-bottom: 44px;
  img {
    cursor: pointer;
    &:hover {
      filter: brightness(0) saturate(100%) invert(76%) sepia(89%) saturate(363%) hue-rotate(24deg) brightness(99%) contrast(93%);
    }
  }
}

.hover {
  left: 158px;
    bottom: -17px;
}